<ion-content class="ion-padding ion-text-center" >
  <img src="../../../assets/images/Layer2.png" alt="#" class="logo">
  <div class="title">
    <h2 color="white">Save Hayat</h2>
    <p>Donate blood, save a life - it's in your hands</p>
  </div>
  <div class="ion-margin-top">
    <ion-button expand="block" class="btn btn-signup"  color="white" routerLink="/login" >Sign in</ion-button>
    <ion-button expand="block" class="btn btn-login" routerLink="/register">Create Account</ion-button>
  </div>
</ion-content>

