


<ion-content class="ion-padding ion-text-center container" >
  <img src="../../../assets/images/logo2.png" alt="#" class="logo">
  <div class="title">
    <h2 color="white">Login Now</h2>
    <p>Please enter the details below to continue</p>
  </div>
  <form [formGroup]="credentials" (ngSubmit) = "login()">

    <ion-item   fill="outline" class="ion-margin-bottom  ">
      <ion-label position="floating" >Email address</ion-label>
      <ion-input   color="black"  type="email" formControlName="email" ></ion-input>
      <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Email is not correct!</ion-note>
    </ion-item>
    <ion-item fill="outline" class="ion-margin-bottom " >
      <ion-label position="floating">Password </ion-label>
      <ion-input color="black"  type="password" formControlName="password" ></ion-input>
      <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">password not accepted!</ion-note>
    </ion-item>
    <p href="#" color="black" class="signuptext">I'm a new user <span class="signup" routerLink="/register">Sign up?</span></p>

    <ion-button expand="full"  type = "submit" class="btn-login" [disabled]="!credentials.valid">Login</ion-button>
  </form>
</ion-content>

 