<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="credentials" (ngSubmit) = "register()">

    <ion-item fill="outline" class="ion-margin-bottom">
      <ion-label position="floating" >Email address</ion-label>
      <ion-input  color="tertiary" placeholder="Enter your email address" type="email" formControlName="email" ></ion-input>
      <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Email is not correct!</ion-note>
    </ion-item>
    <ion-item fill="outline" class="ion-margin-bottom" >
      <ion-label position="floating">Password </ion-label>
      <ion-input color="tertiary" placeholder="enter your password" type="password" formControlName="password" ></ion-input>
      <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">password not accepted!</ion-note>
    </ion-item>

    <ion-button expand="full"  type = "button" (click)="register()">Create account</ion-button>
  </form>
</ion-content>
