
<div class="home-header" >
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-img src="assets/images/logo2.png" class="logo-img"></ion-img>
      </ion-buttons>
      <ion-title class="logo-title">SaveHayat</ion-title>
      <ion-buttons slot="end">
        <ion-button class="notification"></ion-button>
        <ion-icon name="notifications-outline" class="notif-icon"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </div> 

 <ion-content>
  <div class="background">
    <h1 class="welcome">Welcome !</h1>
    <h3>Donate <span class="text-color">blood</span> Save <span class="text-color">life</span> Be a <span class="text-color">hero</span></h3>
  </div>
  
  <ion-grid class="grid-cards">
    <ion-row>
      <ion-col size="4">
        <ion-card class="card" routerLink="../find-donors">
          <ion-card-header>
            <ion-img class="icon-find" src="../../../../assets/images/find-removebg-preview.png">
            </ion-img>
          </ion-card-header>
          <ion-card-title class="card-title" >
            Find Donors
          </ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="card">
          <ion-card-header>
            <ion-img  class="icon-donate" src="../../../../assets/images/donates-icon.png">
            </ion-img>
          </ion-card-header>
          <ion-card-title class="card-title">
            Donates
          </ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card class="card" routerLink="../../order-blood">
          <ion-card-header>
            <ion-img  class="icon-order" src="../../../../assets/images/order-blood-re.png">
            </ion-img>
          </ion-card-header>
          <ion-card-title class="card-title">
            Order Blood
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-title>Donation Request</ion-title>
  
  <ion-grid class="requests">
    <ion-row>
      <ion-card class="donation-request">
     <ion-col size="8" class="colonne">
      <ion-label class="ion-text-start">Name</ion-label>
      <ion-text>
        <h6>Amir Hamza</h6>
      </ion-text>
      <ion-label>Location</ion-label>
      <ion-text>
        <h6>Hertford British Hospital</h6>
      </ion-text>
        <h6 >5 min ago</h6>
      </ion-col>
      <ion-col size="4">
        <ion-img class="goutte-sang" src="../../../../assets/images/goutte.png"></ion-img>
        <ion-label class="blood-type">B+</ion-label>
        <ion-button >Donate</ion-button>
      </ion-col>
      </ion-card>
    </ion-row>

    <ion-row>
      <ion-card class="donation-request">
     <ion-col size="8" class="colonne">
      <ion-label class="ion-text-start">Name</ion-label>
      <ion-text>
        <h6>Amir Hamza</h6>
      </ion-text>
      <ion-label>Location</ion-label>
      <ion-text>
        <h6>Hertford British Hospital</h6>
      </ion-text>
        <h6 >5 min ago</h6>
      </ion-col>
      <ion-col size="4">
        <ion-img class="goutte-sang" src="../../../../assets/images/goutte.png"></ion-img>
        <ion-label class="blood-type">B+</ion-label>
        <ion-button>Donate</ion-button>
      </ion-col>
      </ion-card>
    </ion-row>

    <ion-row>
      <ion-card class="donation-request">
     <ion-col size="8" class="colonne">
      <ion-label class="ion-text-start">Name</ion-label>
      <ion-text>
        <h6>Amir Hamza</h6>
      </ion-text>
      <ion-label>Location</ion-label>
      <ion-text>
        <h6>Hertford British Hospital</h6>
      </ion-text>
        <h6 >5 min ago</h6>
      </ion-col>
      <ion-col size="4">
        <ion-img class="goutte-sang" src="../../../../assets/images/goutte.png"></ion-img>
        <ion-label class="blood-type">B+</ion-label>
        <ion-button>Donate</ion-button>
      </ion-col>
      </ion-card>
    </ion-row>
  </ion-grid>
  
  
  
 </ion-content>
     
