<ion-toolbar>
    <ion-title>Find Donors</ion-title>
  </ion-toolbar>
<ion-content>
  <ion-searchbar animated="true" placeholder="Search"></ion-searchbar>
  <div class="donors-list">
    <ion-card>
      <ion-card-content>
        <img src="../../../../assets/images/img-test.jpg" class="img-donor"/>
        <div class="content">
          <h2>Yasin Hossain</h2>
          <div class="donor-infos">
            <ion-icon name="location-outline" class="location-icon"></ion-icon>
            <span>Mohamedpur,Marrakech</span>
          </div>
          <div class="donor-infos">
            <ion-icon name="call-outline" class="phone-icon"></ion-icon>
            <span>+212650225074</span>
          </div>
        </div>
        <img src="../../../../assets/images/goutte2.png" class="goutte-sang"/>
        <ion-label class="blood-type">B+</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="../../../../assets/images/Andrew.avif" class="img-donor"/>
        <div class="content">
          <h2>Yasin Hossain</h2>
          <div class="donor-infos">
            <ion-icon name="location-outline" class="location-icon"></ion-icon>
            <span>Mohamedpur,Marrakech</span>
          </div>
          <div class="donor-infos">
            <ion-icon name="call-outline" class="phone-icon"></ion-icon>
            <span>+212650225074</span>
          </div>
        </div>
        <img src="../../../../assets/images/goutte2.png" class="goutte-sang"/>
        <ion-label class="blood-type">B+</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="../../../../assets/images/avatar.jpg" class="img-donor"/>
        <div class="content">
          <h2>Yasin Hossain</h2>
          <div class="donor-infos">
            <ion-icon name="location-outline" class="location-icon"></ion-icon>
            <span>Mohamedpur,Marrakech</span>
          </div>
          <div class="donor-infos">
            <ion-icon name="call-outline" class="phone-icon"></ion-icon>
            <span>+212650225074</span>
          </div>
        </div>
        <img src="../../../../assets/images/goutte2.png" class="goutte-sang"/>
        <ion-label class="blood-type">B+</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="../../../../assets/images/ihssane.jpg" class="img-donor"/>
        <div class="content">
          <h2>Yasin Hossain</h2>
          <div class="donor-infos">
            <ion-icon name="location-outline" class="location-icon"></ion-icon>
            <span>Mohamedpur,Marrakech</span>
          </div>
          <div class="donor-infos">
            <ion-icon name="call-outline" class="phone-icon"></ion-icon>
            <span>+212650225074</span>
          </div>
        </div>
        <img src="../../../../assets/images/goutte2.png" class="goutte-sang"/>
        <ion-label class="blood-type">B+</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="../../../../assets/images/avatar.jpg" class="img-donor"/>
        <div class="content">
          <h2>Yasin Hossain</h2>
          <div class="donor-infos">
            <ion-icon name="location-outline" class="location-icon"></ion-icon>
            <span>Mohamedpur,Marrakech</span>
          </div>
          <div class="donor-infos">
            <ion-icon name="call-outline" class="phone-icon"></ion-icon>
            <span>+212650225074</span>
          </div>
        </div>
        <img src="../../../../assets/images/goutte2.png" class="goutte-sang"/>
        <ion-label class="blood-type">B+</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="../../../../assets/images/avatar.jpg" class="img-donor"/>
        <div class="content">
          <h2>Yasin Hossain</h2>
          <div class="donor-infos">
            <ion-icon name="location-outline" class="location-icon"></ion-icon>
            <span>Mohamedpur,Marrakech</span>
          </div>
          <div class="donor-infos">
            <ion-icon name="call-outline" class="phone-icon"></ion-icon>
            <span>+212650225074</span>
          </div>
        </div>
        <img src="../../../../assets/images/goutte2.png" class="goutte-sang"/>
        <ion-label class="blood-type">B+</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="../../../../assets/images/avatar.jpg" class="img-donor"/>
        <div class="content">
          <h2>Yasin Hossain</h2>
          <div class="donor-infos">
            <ion-icon name="location-outline" class="location-icon"></ion-icon>
            <span>Mohamedpur,Marrakech</span>
          </div>
          <div class="donor-infos">
            <ion-icon name="call-outline" class="phone-icon"></ion-icon>
            <span>+212650225074</span>
          </div>
        </div>
        <img src="../../../../assets/images/goutte2.png" class="goutte-sang"/>
        <ion-label class="blood-type">B+</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <img src="../../../../assets/images/img-test.jpg" class="img-donor"/>
        <div class="content">
          <h2>Yasin Hossain</h2>
          <div class="donor-infos">
            <ion-icon name="location-outline" class="location-icon"></ion-icon>
            <span>Mohamedpur,Marrakech</span>
          </div>
          <div class="donor-infos">
            <ion-icon name="call-outline" class="phone-icon"></ion-icon>
            <span>+212650225074</span>
          </div>
        </div>
        <img src="../../../../assets/images/goutte2.png" class="goutte-sang"/>
        <ion-label class="blood-type">B+</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
