<ion-content>
  <div class="container">
    <img src="../../../../../assets/images/verified.png" class="verified-img">
    <p class="congras">Great, based on the information provided, you meet all the requirements to donate blood!</p>
    <p class="text">You are eligible to be a blood donor! Your contribution can help save lives and make a difference. Please
      consider donating blood to meet the urgent needs of those searching for blood or to support a specific person on
      the blood request list.</p>
    <ion-button routerLink="../../../donate">Donate</ion-button>
    <ion-button routerLink="../../home-page">Check Blood Requests</ion-button>
  </div>
</ion-content>