
<ion-content>
  <div class="top-part">
      <div class="left-side">
        <img src="./../../../../assets/images/andrew_profile.jpg" class="img-profile" alt="#">
      </div>
      <div class="right-side">
        <h2 class="top-text ">Hello Andrew</h2>
        <p class="top-text">you have completed 50 days waiting time</p>
      </div>
  </div>
  <div class="middle-part">
    <div class="col first">
      <img src="./../../../../assets/images/second.png" class="img-middle" alt="#">
      <p class="number">3</p>
      <p>Life saved</p>
    </div>
    <div class="col second">
      <img src="./../../../../assets/images/first.png" class="img-middle blood" alt="#">
      <p class="number">3</p>
      <p>Life saved</p>
    </div>
    <div class="col third">
      <img src="./../../../../assets/images/hadn_clapping.png" class="img-middle hands" alt="#">
      <p class="number">3</p>
      <p>Life saved</p>
    </div>
  </div>
  <div class="available">
    <p>I am available to donate</p>
    <ion-toggle [checked]="true">Checked Toggle</ion-toggle><br /><br />
  </div>
  <div class="line"></div>
  <div class="details">
    
    <div class="detail ">
      <div class="icon">
        <ion-icon name="male-outline"></ion-icon>
      </div>
      <div class="right-side border">
        <p class="p-first">Gender</p>
        <p>Male</p>
        
      </div>
      <div class="col-sep"></div>
      <div class="icon">
        <ion-icon name="water-outline"></ion-icon>
      </div>
      <div class="right-side">
        <p class="p-first">Blood Group</p>
        <p>A+ (Positive)</p>
        
      </div>
    </div>
      
    <div class="detail">
      <div class="icon">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>
      <div class="right-side">
        <p class="p-first">Date of Birth</p>
        <p>05-Juin-1986</p>
        
      </div>
    </div>
    <div class="detail">
      <div class="icon">
        <ion-icon name="mail" class="iconn"></ion-icon>
      </div>
      <div class="right-side">
        <p class="p-first">Email</p>
        <p>AndrewTate@gmail.com</p>
        
      </div>
    </div>
    <div class="detail">
      <div class="icon">
        <ion-icon name="call-outline"></ion-icon>
      </div>
      <div class="right-side">
        <p class="p-first">Mobile Number</p>
        <p>+55234234</p>
        
      </div>
    </div>
  </div>
  
</ion-content>
